header.default-header.generic-header
    div.container-fluid
		div.header-wrap
			div.header-top.d-flex.justify-content-between.align-items-center
				div.logo
					a(href='index.html')
                        img(src='img/logo.png', alt='')
				div.main-menubar.d-flex.align-items-center
					nav.hide
						a(href='index.html') Home
						a(href='generic.html') Generic
						a(href='elements.html') Elements
					div.menu-bar
						span.lnr.lnr-menu
